body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/backgroundcustomized.png');
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

.intro-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    animation: fade-out 1s ease-out 5s both;
}

.para{
    font-size: 100px;
}

@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.slide-out-bck-center {
	animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-out-bck-center {
    0% {
      transform: translateZ(0);
      opacity: 1;
    }
    100% {
      transform: translateZ(-1100px);
      opacity: 0;
    }
  }
  

.intro-container > .rock-intro {
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 200ms;
}

.intro-container > .paper-intro {
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 1000ms;
}

.intro-container > .scissors-intro {
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 2000ms;
}

.main-content{
    animation: slit-in-vertical 0.45s ease-out 6s both;
}

.main-content > .headerText{
    text-align: center;
    color: white;
}

.resultText{
    text-align: center;
    color: white;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.scoreDisplayUser, .scoreDisplayCPU{
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slit-in-vertical {
    0% {
      transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      transform: translateZ(0) rotateY(0);
    }
  }
  

.imageContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px;
  }
  
  .imageChildContainer {
    border: 2.5px grey double;
    cursor: pointer;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    transition: all 1s;
    overflow: hidden;
  }
  
  .imageChildContainer:hover::before {
    content: attr(data-text); /* Display the custom data-text attribute as text */
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    opacity: 0;
    transition: transform 0.2s;
    animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  
  .imageChildContainer:hover {
    transform: scale(1.1);
  }
  
  .imageChildContainer > img {
    width: 200px;
    padding: 15px 15px 25px 15px;
  }
  
  @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }